[Unit]
Description=Generate Zoraxy index.html
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/node /YOUR/PROJECT/PATH/generate-index.js
WorkingDirectory=/YOUR/PROJECT/PATH
EnvironmentFile=/YOUR/PROJECT/PATH/.env